# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
.gradle-user
.gradle_stale_*
build_stale_*
.tmp
Probe.java
Probe.class
